.logo img {
  width: 150px;
  height: 40px;
}
.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
  transition: all linear 0.3s;
}
.header a:hover {
  color: #000303;
}
.mainheader {
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000303,
    #2ea5a7,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #74bef7,
    #343fd8,
    #fc00ff
  );
}
